// Color Variables
$primary-color: #ce8460;
$text-color: #696c6d;
$text-color-dark: #1c1d1f;
$text-color-light: #888c8e;
$body-color: #fff;
$border-color: #ddd;
$black: #000;
$white: #fff;
$light: #f0f0f0;

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';