.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
  }
}

.navbar-white .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 20px;
}

.navbar {
  .dropdown {
    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: scaleX(1);
      }
    }

    &-menu {
      box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
      padding: 10px 0;
      border: 0;
      top: 50px;
      left: 0px;
      border-radius: 0;
      display: block;
      visibility: hidden;
      transition: .3s ease;
      opacity: 0;
      transform: scale(.8);
      background: $white;
      border-radius: 10px;

      @include desktop {
        display: none;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transform-origin: unset;
      }

      &.show {
        visibility: hidden;

        @include desktop {
          visibility: visible;
          display: block;
        }
      }
    }

    &-item {
      position: relative;
      color: $text-color-dark;
      transition: .2s ease;
      font-size: 14px;

      @include desktop {
        text-align: center;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:hover {
        color: $primary-color !important;
        background: transparent;
      }
    }
  }
}

/* search */
.search-btn {
  border: 0;
  background: transparent;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transition: .2s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.search-box {
  height: 100%;
  width: 100%;
  border: 0;
  background: $white;
  font-size: 20px;
  padding: 0;

  &:focus {
    box-shadow: none !important;
    outline: 0;
  }
}

.search-close {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  page-break-after: 10px;
  font-size: 20px;
}